h2 {
    text-align: center;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 1.25em;
}

.list-group-item {
    overflow: auto;
}

.panel-title-icon {
    font-size: 3em;
    padding: 0;
}

.panel-column {
    float: left;
}

.slider-slider {
    margin: 15px auto 15px auto;
    height: 200px;
}

.slider-text {
    text-align: center;
    margin: 5px;
}

.slider-img {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

.load-box-colour {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    margin: auto;
}

.load-box-text {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.cost-table {
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

.cost-cell-img {
    padding: 0;
}

.cost-cell-text {
    width: 150px;
}

.cost-cell-bottom {
    padding-top: 10px;
}

.total-cost-table {
    font-size: 1.25em;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.total-cost-cell-text {
    width: 30%;
}

.network-main {
    height: 500px;
    position: relative;
}

.network-packet {
    width: 3px;
    height: 3px;
    background-color: black;
    position: absolute;
    border-radius: 100%;
}

.dialog-hidden {
    display: none;
}

.modal-body p {
    margin-bottom: 30px;
}

.intro-icon {
    margin-left: 20px;
    margin-right: 20px;
}

.ui-slider-range {
    background: #337AB7;
}

.ui-slider-disabled {
    opacity: 1.0;
}

.ui-slider-disabled .ui-slider-handle {
    opacity: 0.0;
}

.particle {
    position: absolute;
    pointer-events: none;
}

.spark {
    background-color: #00ffff;
}
