h2 {
    text-align: center;
}

h3 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    font-size: 1.25em;
}

.list-group-item {
    overflow: auto;
}

.panel-column {
    float: left;
}

.slider-slider {
    margin: 15px auto 15px auto;
    height: 200px;
}

.slider-text {
    text-align: center;
    margin: 5px;
}

.slider-img {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
}

.load-box-colour {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(100,100,100);
    border-radius: 5px;
    margin: auto;
}

.load-box-text {
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.cost-table {
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

.cost-cell-img {
    padding: 0;
}

.cost-cell-text {
    width: 150px;
}

.cost-cell-bottom {
    padding-top: 10px;
}

.failure-button {
    font-size: 1.5em;
    margin: auto;
    display: block;
}

.total-cost-table {
    font-size: 1.25em;
    width: 100%;
    margin: auto;
}

.total-cost-cell-img {
    padding: 0;
    margin-right: 5px;
}

.total-cost-cell-text {
    width: 200px;
}

.total-cost-cell-bottom {
    padding-top: 10px;
}

.network-main {
    height: 500px;
    position: relative;
}

.network-packet {
    width: 3px;
    height: 3px;
    background-color: black;
    position: absolute;
    border-radius: 100%;
}
